/mooc-java-programming-i/part01-Part01_01.Sandbox/target/
/mooc-java-programming-i/part01-Part01_02.AdaLovelace/target/
/mooc-java-programming-i/part01-Part01_03.OnceUponATime/target/
/mooc-java-programming-i/part01-Part01_04.Dinosaur/target/
/mooc-java-programming-i/part01-Part01_05.Message/target/
/mooc-java-programming-i/part01-Part01_06.HiAdaLovelace/target/
/mooc-java-programming-i/part01-Part01_07.MessageThreeTimes/target/
/mooc-java-programming-i/part01-Part01_08.Greeting/target/
/mooc-java-programming-i/part01-Part01_09.Conversation/target/
/mooc-java-programming-i/part01-Part01_10.Story/target/
/mooc-java-programming-i/part01-Part01_11.VariousVariables/target/
/mooc-java-programming-i/part01-Part01_12.IntegerInput/target/
/mooc-java-programming-i/part01-Part01_13.DoubleInput/target/
/mooc-java-programming-i/part01-Part01_14.BooleanInput/target/
/mooc-java-programming-i/part01-Part01_15.DifferentTypesOfInput/target/
/mooc-java-programming-i/part01-Part01_16.SecondsInADay/target/
/mooc-java-programming-i/part01-Part01_17.SumOfTwoNumbers/target/
/mooc-java-programming-ii/part08-Part08_13.VehicleRegistry/target/
/mooc-java-programming-ii/part08-Part08_01.Cubes/target/
/mooc-java-programming-ii/part08-Part08_02.AverageOfPositiveNumbers/target/
/mooc-java-programming-ii/part08-Part08_03.LiquidContainers/target/
/mooc-java-programming-ii/part08-Part08_04.LiquidContainers2/target/
/mooc-java-programming-ii/part08-Part08_05.TodoList/target/
/mooc-java-programming-ii/part08-Part08_06.Nicknames/target/
/mooc-java-programming-ii/part08-Part08_07.Abbreviations/target/
/mooc-java-programming-ii/part08-Part08_09.PrintMeAnotherHashmap/target/
/mooc-java-programming-ii/part08-Part08_10.IOweYou/target/
/mooc-java-programming-ii/part08-Part08_11.SameDate/target/
/mooc-java-programming-ii/part08-Part08_12.HashedDate/target/
/mooc-java-programming-ii/part08-Part08_14.DictionaryOfManyTranslations/target/
/mooc-java-programming-ii/part08-Part08_15.StorageFacility/target/
/mooc-java-programming-ii/part09-Part09_01.ABC/target/
/mooc-java-programming-ii/part09-Part09_02.PersonAndSubclasses/target/
/mooc-java-programming-ii/part09-Part09_03.Warehousing/target/
/mooc-java-programming-ii/part09-Part09_04.DifferentKindsOfBoxes/target/
/mooc-java-programming-ii/part11-Part11_01.Customer/target/
/mooc-java-programming-ii/part11-Part11_02.ABookAndAPlane/target/
/mooc-java-programming-ii/part11-Part11_03.ShowAndTicket/target/
/mooc-java-programming-ii/part11-Part11_04.StudentAndUniversity/target/
/mooc-java-programming-ii/part11-Part11_05.ThePlayerAndTheBot/target/
/mooc-java-programming-ii/part11-Part11_06.SaveablePerson/target/
/mooc-java-programming-ii/part11-Part11_07.BiggerClassDiagram/target/
/mooc-java-programming-ii/part11-Part11_08.FirstPackages/target/
/mooc-java-programming-ii/part11-Part11_09.TheThreePackages/target/
/mooc-java-programming-ii/part11-Part11_10.FlightControl/target/
/mooc-java-programming-ii/part11-Part11_11.ValidatingParameters/target/
/mooc-java-programming-ii/part11-Part11_12.SensorsAndTemperature/target/
/mooc-java-programming-ii/part11-Part11_13.SaveableDictionary/target/
/mooc-java-programming-ii/part12-Part12_01.Hideout/target/
/mooc-java-programming-ii/part12-Part12_02.Pipe/target/
/mooc-java-programming-ii/part12-Part12_03.SumTheseForMe/target/
/mooc-java-programming-ii/part12-Part12_04.List/target/
/mooc-java-programming-ii/part12-Part12_05.HashMap/target/
/mooc-java-programming-ii/part12-Part12_06.Numbers/target/
/mooc-java-programming-ii/part12-Part12_07.Die/target/
/mooc-java-programming-ii/part12-Part12_08.Lottery/target/
/mooc-java-programming-ii/part12-Part12_09.ArrayAsAString/target/
/mooc-java-programming-ii/part12-Part12_10.MagicSquare/target/
/mooc-java-programming-ii/part13-Part13_01.MyFirstApplication/target/
/mooc-java-programming-ii/part13-Part13_02.ButtonAndLabel/target/
/mooc-java-programming-ii/part13-Part13_03.ButtonAndTextField/target/
/mooc-java-programming-ii/part13-Part13_04.BorderPane/target/
/mooc-java-programming-ii/part13-Part13_05.TextStatistics/target/
/mooc-java-programming-ii/part13-Part13_06.Notifier/target/
/mooc-java-programming-ii/part13-Part13_07.TextStatisticsPart2/target/
/mooc-java-programming-ii/part13-Part13_08.UserTitle/target/
/mooc-java-programming-ii/part13-Part13_09.MultipleViews/target/
/Java MOOC P1/mooc-java-programming-i/part01-Part01_18.SumOfThreeNumbers/target/
/Java MOOC P1/mooc-java-programming-i/part01-Part01_19.AdditionFormula/target/
/Java MOOC P1/mooc-java-programming-i/part04-Part04_01.YourFirstAccount/target/
/Java_MOOC_p1/mooc-java-programming-i/part04-Part04_15.NumberStatistics/target/
/Java_MOOC_p1/mooc-java-programming-i/part04-Part04_16.PaymentCard/target/
/Java_MOOC_p1/mooc-java-programming-i/part04-Part04_19.TelevisionPrograms/target/
/Java_MOOC_p1/mooc-java-programming-i/part04-Part04_20.Books/target/